body{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: inherit;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    outline:none;
  }

  
  .left-group{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .container{
      width:700px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .sorting-icon{
      margin-right: 15px;
  }
  .search-icon{
    border-bottom: 2px solid black;
    padding-bottom: 22px;
  }
 