body{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    outline:none;
  }

  .form-body{
      width:700px;
      display: flex;
      align-items: center;
      

  }

  .search-icon{
    border-bottom: 2px solid black;
    padding-bottom: 22px;
  }